.imagen-perfil {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.tableleft{
    flex: 1; 
    text-align: left;
    margin: 10px;
    padding: 10px;
}
.tableright {
    flex: 1; 
    text-align: right;
    margin: 10px;
    padding: 10px;
}
  
.tablemiddle {
    text-align: center;
    margin: 10px;
}
  